<% if ( path.indexOf('/page')) { %>

<div class="post-bg" style="background-image: url(<% if (page.posts.data[0].image){ %><%- page.posts.data[0].image %><% }else{%><%- theme.img.default_thum %><% } %>);"></div>

<% } %>
<div class="site-wrapper" page-type="c-index">

<main id="content" class="content" role="main">
<% page.posts.each(function(post) { %>

<article class="post">
<div class="post-toppic" style="">
                    <div class="picbox"><a class="read-more" href="<%- post.permalink %>">
                      <img node-type="articleHeaderPic" src="<% if (post.image){ %><%- post.image %><% }else{%><%- theme.img.default_thum %><% } %>">
                                          </a></div>
                  </div>
    <header class="post-header">
        <h2 class="post-title"><a href="<%- post.permalink %>"><%- post.title %></a></h2>
    </header>
    <section class="post-excerpt">
        <p><%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %><a class="read-more" href="<%- post.permalink %>">&raquo;</p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="<%- theme.img.avatar %>" alt="<%- theme.info.name %>" nopin="nopin" />
        <a href="<%- post.permalink %>"><%- theme.info.name %></a>
        <time class="post-date" datetime="<%- date(post.date,'YYYY-MM-DD') %>"><%- date(post.date,'YYYY-MM-DD') %></time>
        <a href="<%- post.permalink %>#comment" class="post-comment post-none">有<span data-disqus-url="<%- post.permalink %>"></span>条评论</a>
        <span class="post-date">总计<%- wordcount(post.content) %>字</span>
        <span class="post-date">预计<%- min2read(post.content) %>分钟读完</span>
        <span class="post-date post-none"><%- post.tags %></span>
        
    </footer>
</article>
<% }); %>


<%- partial('partials/pagination') %>